<div class="card-deck mb-3 text-center" *ngIf="room">
    <div class="card mb-12 box-shadow">
        <div class="card-body">
            <h1 [ngClass]="{ 'red': ['0','1','2','3','5','8'].includes(room.average) }"
                class="card-title pricing-card-title">{{
                room.average }}
                <span *ngIf="isHeart(room.average)">♥</span>
                <span *ngIf="isDiamond(room.average)">♦</span>
                <span *ngIf="isSpade(room.average)">♠</span>
            </h1>
        </div>
    </div>
</div>