$grid-size: 522px;
$square-size: 174px;

.mb-3 {
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: $grid-size;
    height: $grid-size;
    padding: 0;
    margin: 0 auto;

    .cell {
        flex: 0 0 33.333333%;
        width: 33.333333vh;
        color: white;
        text-align: center;
        line-height: $square-size;
        font-size: 76px;
        font-weight: bold;
        opacity: 0.5;
        box-sizing: border-box;
        transition: opacity 0.3s ease;
        user-select: none;
        span {
            width: 0;
            height: 0;
            display: block;
            opacity: 0;
        }
        &.active {
            opacity: 1;
            line-height: calc(174px - 10px);
            font-size: 100px;
            span {
                width: auto;
                height: auto;
                display: inline-block;
                opacity: 1;
            }
        }
        &.warning {
            background: var(--warning);
            &.active {
                border: 5px solid var(--orange);
            }
        }
        &.danger {
            background: var(--danger);
            &.active {
                border: 5px solid var(--pink);
            }
        }
        &.success {
            background: var(--success);
            &.active {
                border: 5px solid var(--teal);
            }
        }
    }

    &.line {
        height: $square-size;
    }
    &.not-selected-item {
        .cell {
            opacity: 1;
        }
    }
}

.lines {
    .col-12 {
        h1:not(:first-child) {
            padding-top: 9px;
        }
    }
}

.matrix {
    .container {
        position: relative;
        overflow: hidden;
        .cell {
            transition: all 0.5s ease;
            width: $square-size;
            height: $square-size;
        }
        .active {
            width: $grid-size;
            height: $grid-size;
            position: absolute;
            line-height: $grid-size;
            z-index: 1;
        }
    }
}

@media only screen and (max-width: 768px) {
    .lines {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;

        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .matrix {
        padding-top: 9px;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;

        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}

@media only screen and (max-width: 574px) {
    $grid-size: 314px;
    $square-size: 104px;
    .container {
        width: $grid-size;
        height: $grid-size;
        .cell {
            font-size: 48px;
            line-height: $square-size;
            &.active {
                line-height: calc(104px - 10px);
                font-size: 52px;
            }
        }

        &.line {
            height: $square-size;
        }
    }

    .matrix {
        .container {
            .cell {
                width: $square-size;
                height: $square-size;
            }
            .active {
                width: $grid-size;
                height: $grid-size;
                line-height: $grid-size;
            }
        }
    }
}
