<div class="row">
    <div class="col-md-12 matrix">
        <div class="row">
            <div class="col-12">
                <h1 class="h3 mb-3 font-weight-normal text-center">Incerteza + Complexidade</h1>
                <div class="container" [ngClass]="{ 'not-selected-item': risk.value == 0 }">
                    <div class="cell success" [ngClass]="{ 'active': risk.value == 5 }">
                        <div class="cell-content">
                            <p>1</p>
                            <span>{{
                                getEmojis(selectedUncertainty, selectedComplexity) }}</span>
                        </div>
                    </div>
                    <div class="cell success" [ngClass]="{ 'active': risk.value == 10 }">
                        <div class="cell-content">
                            <p>2</p>
                            <span>{{
                                getEmojis(selectedUncertainty, selectedComplexity) }}</span>
                        </div>
                    </div>
                    <div class="cell warning" [ngClass]="{ 'active': risk.value == 15 }">
                        <div class="cell-content">
                            <p>5</p>
                            <span>{{
                                getEmojis(selectedUncertainty, selectedComplexity) }}</span>
                        </div>
                    </div>

                    <div class="cell success" [ngClass]="{ 'active': risk.value == 6 }">
                        <div class="cell-content">
                            <p>2</p>
                            <span>{{
                                getEmojis(selectedUncertainty, selectedComplexity) }}</span>
                        </div>
                    </div>
                    <div class="cell warning" [ngClass]="{ 'active': risk.value == 12 }">
                        <div class="cell-content">
                            <p>3/5</p>
                            <span>{{
                                getEmojis(selectedUncertainty, selectedComplexity) }}</span>
                        </div>
                    </div>
                    <div class="cell danger" [ngClass]="{ 'active': risk.value == 18 }">
                        <div class="cell-content">
                            <p>8</p>
                            <span>{{
                                getEmojis(selectedUncertainty, selectedComplexity) }}</span>
                        </div>
                    </div>

                    <div class="cell warning" [ngClass]="{ 'active': risk.value == 7 }">
                        <div class="cell-content">
                            <p>5</p>
                            <span>{{
                                getEmojis(selectedUncertainty, selectedComplexity) }}</span>
                        </div>
                    </div>
                    <div class="cell danger" [ngClass]="{ 'active': risk.value ==  14 }">
                        <div class="cell-content">
                            <p>8</p>
                            <span>{{
                                getEmojis(selectedUncertainty, selectedComplexity) }}</span>
                        </div>
                    </div>
                    <div class="cell danger" [ngClass]="{ 'active': risk.value ==  21 }">
                        <div class="cell-content">
                            <p>13</p>
                            <span>{{
                                getEmojis(selectedUncertainty, selectedComplexity) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-confirm #confirm></app-confirm>