.list-group {
    margin-bottom: 8px;
    .list-group-item {
        .badge {
            cursor: pointer;
        }
        span {
            background-color: var(--dark);
        }
    }
    .list-group-item:nth-child(odd) {
        span {
            background-color: var(--red);
        }
    }
}
