<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" *ngIf="room">
  <h1 class="display-4">{{ room.name }}</h1>
</div>

<div class="container">

  <div class="row">
    <div class="col-12 text-center btn-command">
      <button type="button" class="btn btn-primary" (click)="flipCard()">Flip</button>
      <button type="button" class="btn btn-secondary" (click)="resetVotes()">Reset</button>
    </div>
  </div>

  <div class="card-deck mb-3 text-center" *ngIf="room">
    <div class="card mb-12 box-shadow">
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ room.average }}</h1>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="room">
    <div class="col-sm-3 text-center" *ngFor="let vote of room.votes;">
      <div *ngIf="!room.isFlip; else elseBlock" class="card text-white bg-secondary  mb-3">
        <div class="card-header" [title]="vote.displayName">{{ vote.displayName }}</div>
        <div class="card-body">
          <h1 class="card-title">&nbsp;</h1>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="card text-white bg-{{ vote.value.class }} mb-3">
          <div class="card-header" [title]="vote.displayName">{{ vote.displayName }}</div>
          <div class="card-body">
            <h1 class="card-title">{{ vote.value.description }}</h1>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <section *ngIf="room">
    <app-fibonacci-deck *ngIf="!room.isFlip" (activeCardEvent)="activeCardEvent($event)"></app-fibonacci-deck>
  </section>
</div>
