<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" *ngIf="room">
  <h1 class="display-4">{{ room.name }}</h1>
</div>

<div class="container">

  <div class="row" *ngIf="getCurrentTask(currentTask)">
    <div class="col-12">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-light" (click)="prevTask()">
          < </label>
            <label class="btn btn-light" (click)="nextTask()">
              {{ getCurrentTask(currentTask) }}
            </label>
            <label class="btn btn-light" (click)="nextTask()">
              >
            </label>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-12 btn-command text-center" *ngIf="hasVotes()">
      <button *ngIf="getCurrentTask(currentTask)" type="button" class="btn btn-light float-left" (click)="resetVotesAndGoBack()">Voltar</button>
      <button *ngIf="!isFlip" type="button" class="btn btn-primary" (click)="flipCard()">Virar</button>
      <button type="button" class="btn btn-info" (click)="resetVotes()">Resetar</button>
      <button *ngIf="getCurrentTask(currentTask)" type="button" class="btn btn-light float-right" (click)="resetVotesAndNext()">Seguir</button>
    </div>
  </div>

  <div class="card-deck mb-3 text-center" *ngIf="room">
    <div class="card mb-12 box-shadow">
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ room.average }}</h1>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="room" [ngClass]="{ 'show-card': !isFlip }">
    <div class="col-sm-3 text-center flip-card" *ngFor="let vote of room.votes;">
      <div class="flip-card-inner">
        <div class="card text-white bg-{{ vote.value.class }} mb-3 flip-card-front">
          <div class="card-header" [title]="vote.displayName">{{ vote.displayName }}</div>
          <div class="card-body">
            <h1 class="card-title" *ngIf="room.isFlip">{{ vote.value.description }}</h1>
          </div>
        </div>
        <div class="card text-white bg-info mb-3 flip-card-back">
          <div class="card-header" [title]="vote.displayName">{{ vote.displayName }}</div>
          <div class="card-body">
            <h1 class="card-title">&nbsp;</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section *ngIf="room">
    <app-fibonacci-deck *ngIf="!room.isFlip" (activeCardEvent)="activeCardEvent($event)"></app-fibonacci-deck>
  </section>
</div>