.btn-command {
  padding-bottom: 16px;

  .fix-width{
    
  }

  button {
    margin: 0 4px;
    &:disabled {
      cursor: not-allowed;
    }
    &:first-child {
      margin: 0 0px;
    }

    &:last-child {
      margin: 0 0px;
    }
  }
}

.card-header {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  cursor: context-menu;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 1000px;
  margin-bottom: 16px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.show-card .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.btn-group {
  width: 100%;
  label:nth-child(2) {
    width: 100%;
  }
}
