.btn-command {
  padding-bottom: 16px;
}

.btn-command button:nth-child(2) {
  margin-left: 8px;
}

.card-header {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  cursor: context-menu;
}
