.row {
    padding: 20px;
}

.card {
    text-transform: capitalize;
}

.card-header {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    cursor: context-menu;
}

.flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    margin: 18px 4px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.show-card .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: var(--light) !important;
    background-origin: content-box;
    border: 2px solid var(--light);
    outline: 12px solid var(--light);
    box-shadow: 5px 5px 15px 5px #000000a6;
    box-shadow: 0 0 0 2px var(--dark), 0 0 0 12px var(--light), 0 0 0 13px rgba(0, 0, 0, 0.125),
        rgba(99, 99, 99, 0.2) 0px 2px 8px 14px;

    .card-body {
        padding: 0;
        margin: 0;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                color: var(--dark);
                &:first-child {
                    text-align: left;
                    height: 24px;
                    span {
                        position: absolute;
                        transform: rotate(270deg);
                        margin-top: -18px;
                        font-size: 26px;
                        font-weight: bold;
                        line-height: 24px;
                        margin-left: 10px;
                        text-align: center;
                        &.pass {
                            position: initial;
                            transform: none;
                            margin-top: 0;
                            font-size: 26px;
                            font-weight: bold;
                            line-height: 0;
                            margin-left: -2px;
                            text-align: left;
                        }
                    }
                }
                .square {
                    border: 2px solid var(--dark);
                    margin: 0 20px;
                    height: 96px;
                    border-radius: 6px;
                    span {
                        font-size: 60px;
                        transform: rotate(270deg);
                        writing-mode: tb-rl;
                        margin-right: 9px;
                        height: 100%;
                        line-height: 20px;
                    }
                }
                &:last-child {
                    text-align: right;
                    padding-top: 5px;
                    font-weight: bold;

                    white-space: nowrap;
                    overflow: hidden !important;
                    text-overflow: ellipsis;
                    cursor: context-menu;
                }
            }
        }
    }
    .red {
        ul {
            li {
                color: var(--red);
                .square {
                    border: 2px solid var(--red);
                }
            }
        }
    }
}

.flip-card-back {
    transform: rotateY(180deg);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='10px' height='14px'><text x='0' y='12' fill='%23343a40' font-size='20'>♦</text></svg>");
    background-color: var(--light) !important;
    padding: 31px 30px;
    background-origin: content-box;
    box-shadow: 0 0 0 2px var(--dark), 0 0 0 12px var(--light), 0 0 0 13px rgba(0, 0, 0, 0.125),
        rgba(99, 99, 99, 0.2) 0px 2px 8px 14px;

    .card-body {
        height: 27px;
        padding: 0;
        margin: 0;
        display: block;
        flex: none;
        color: var(--dark);
        font-weight: bold;

        display: inline-block;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        cursor: context-menu;

        border-radius: 3px;
        border: 2px solid var(--light);
        background: var(--dark);
        color: var(--light);
        outline: 3px solid var(--dark);
    }

    &.red {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='10px' height='14px'><text x='0' y='12' fill='%23dc3545' font-size='20'>♦</text></svg>");
        background-color: var(--light) !important;
        border: 2px solid var(--red);
        outline: 12px solid var(--light);
        
        .card-body {
            background: var(--red);
            outline: 3px solid var(--red);
        }
    }
}
