<div class="row" [ngClass]="{ 'show-card': !isFlip }">
    <div class="col-sm-3 text-center flip-card" *ngFor="let vote of room?.votes;">
        <div class="flip-card-inner">
            <div class="card text-white bg-{{ vote.value?.class }} mb-3 flip-card-front">
                <div class="card-body"
                    [ngClass]="{ 'red': ['0','A','2','3','5','8'].includes(vote?.value?.description??'') }"
                    [title]="vote.displayName">
                    <ul *ngIf="room?.isFlip">
                        <li class="value">
                            <span *ngIf="['0','A','2','3'].includes(vote?.value?.description??'')">{{
                                vote.value?.description
                                }}<br />♥</span>
                            <span *ngIf="['5','8'].includes(vote.value?.description??'')">{{ vote.value?.description
                                }}<br />♦</span>
                            <span *ngIf="['K','21','34','55','89'].includes(vote.value?.description??'')">{{
                                vote.value?.description
                                }}<br />♠</span>
                            <span *ngIf="['?'].includes(vote.value?.description??'')">{{ vote.value?.description
                                }}<br />♣</span>
                            <span class="pass" *ngIf="['Pass'].includes(vote.value?.description??'')">{{
                                vote.value?.description
                                }} ♣</span>
                            <p class="emojis">
                                <b *ngFor="let emoji of vote.value?.emojis; let i = index" [title]="getTitle(emoji)">{{
                                    emoji }}</b>
                            </p>
                        </li>
                        <li>
                            <div class="square" [ngClass]="{ 'k': ['K'].includes(vote.value?.description??'') }">
                                <span *ngIf="['0','A','2','3'].includes(vote.value?.description??'')">♥</span>
                                <span *ngIf="['5','8'].includes(vote.value?.description??'')">♦</span>
                                <span *ngIf="['13','21','34','55','89'].includes(vote.value?.description??'')">♠</span>
                                <span *ngIf="['?','Pass'].includes(vote.value?.description??'')">♣</span>
                            </div>
                        </li>
                        <li class="name">{{ vote.displayName | lowercase }}</li>
                    </ul>
                </div>
            </div>
            <div class="card text-white bg-info mb-3 flip-card-back" [ngClass]="{ 'red': vote.isRedCard  }">
                <div class="card-body" [title]="vote.displayName">{{ vote.displayName | lowercase }}</div>
            </div>
        </div>
    </div>
</div>