<div class="row">
    <div class="col-lg-6">
        <div class="left-content">
            <app-risk-matrix-develop-reproduce developmentLabel="O que fazer" toProduceLabel="Como fazer"
                matrixLabel="Incerteza" (riskEmit)="uncertaintyEvent($event)"></app-risk-matrix-develop-reproduce>
            <hr />
            <app-risk-matrix-develop-reproduce developmentLabel="Desenvolver" toProduceLabel="Reproduzir"
                matrixLabel="Complexidade" (riskEmit)="complexityEvent($event)"></app-risk-matrix-develop-reproduce>
        </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-start">
        <app-risk-matrix-uncertainty-complexity [room]="room" [setUncertaintyAndCalcRisk]="uncertainty"
            [setComplexityAndCalcRisk]="complexity">
        </app-risk-matrix-uncertainty-complexity>
    </div>
</div>