<div class="row">
    <div class="col-md-6 lines d-flex justify-content-end">
        <div class="row">
            <div class="col-12">
                <h1 class="h3 mb-3 font-weight-normal">Impacto</h1>
                <div class="container line" [ngClass]="{ 'not-selected-item': selectedImpact == 0 }">
                    <div class="cell success" (click)="setImpactAndCalcRisk(1)"
                        [ngClass]="{ 'active': selectedImpact == 1 }">🤙</div>
                    <div class="cell warning" (click)="setImpactAndCalcRisk(2)"
                        [ngClass]="{ 'active': selectedImpact == 2 }">🤞</div>
                    <div class="cell danger" (click)="setImpactAndCalcRisk(3)"
                        [ngClass]="{ 'active': selectedImpact == 3 }">👎</div>
                </div>
                <h1 class="h3 mb-3 font-weight-normal">Probabilidade</h1>
                <div class="container line" [ngClass]="{ 'not-selected-item': selectedProbability == 0 }">
                    <div class="cell success" (click)="setProbabilityAndCalcRisk(5)"
                        [ngClass]="{ 'active': selectedProbability == 5 }">😎</div>
                    <div class="cell warning" (click)="setProbabilityAndCalcRisk(6)"
                        [ngClass]="{ 'active': selectedProbability == 6 }">😅</div>
                    <div class="cell danger" (click)="setProbabilityAndCalcRisk(7)"
                        [ngClass]="{ 'active': selectedProbability == 7 }">😲</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 matrix">
        <div class="row">
            <div class="col-12">
                <h1 class="h3 mb-3 font-weight-normal">Matriz de Riscos</h1>
                <div class="container" [ngClass]="{ 'not-selected-item': risk == 0 }">
                    <div class="cell success" [ngClass]="{ 'active': risk == 5 }">1<span>😎🤙</span></div>
                    <div class="cell success" [ngClass]="{ 'active': risk == 10 }">2<span>😎🤞</span></div>
                    <div class="cell warning" [ngClass]="{ 'active': risk == 15 }"><span>👎😎</span>3</div>

                    <div class="cell success" [ngClass]="{ 'active': risk == 6 }">2<span>😅🤙</span></div>
                    <div class="cell warning" [ngClass]="{ 'active': risk == 12 }">5<span>😅🤞</span></div>
                    <div class="cell danger" [ngClass]="{ 'active': risk == 18 }"><span>👎😅</span>8</div>

                    <div class="cell warning" [ngClass]="{ 'active': risk == 7 }">3<span>😲🤙</span></div>
                    <div class="cell danger" [ngClass]="{ 'active': risk ==  14 }">8<span>😲🤞</span></div>
                    <div class="cell danger" [ngClass]="{ 'active': risk ==  21 }"><span>👎😲</span>13</div>
                </div>
            </div>
        </div>
    </div>
</div>