.left-content {
    width: fit-content;
    margin: auto;
    margin-right: 0;
}

@media only screen and (max-width: 992px) {
    .left-content {
        margin: 0 auto;
    }
    .col-lg-6:last-child {
        justify-content: center !important;
    }
}
