<div class="loading-content" [ngClass]="{ 'hidden': !loading }">
    <app-loading></app-loading>
</div>
<form [ngClass]="{ 'hidden': loading }" class="form-room text-center" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Crie uma sala para começar</h1>
    <div>
        <input formControlName="roomName" type="text" [ngClass]="{'is-invalid': messageError.length > 0 }"
            class="form-control" id="validationServer03" placeholder="Nome da sala" required>
        <div class="invalid-feedback">
            {{ messageError }}
        </div>
    </div>
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Criar</button>
</form>