.main-title {
  text-decoration: none;
  color: var(--dark);
  .icon {
    span {
      font-family: "Segoe UI Windows 10";
      display: inline-block;
      border: 2px solid var(--dark);
      border-radius: 4px;
      width: 22px;
      height: 28px;
      line-height: 21px;
      box-sizing: border-box;
      padding: 0;
      background-color: var(--white);
      margin-right: -4px;
      padding-left: 2px;
      transition-duration: 0.3s;
      transform: rotate(340deg) translate(0, 0px);
      &.red {
        color: var(--red);
      }
      &:hover {
        transition-duration: 0.3s;
        transform: rotate(340deg) translate(0, -5px);
        top: -6px;
      }
    }
  }
  .text {
    margin-left: 12px;
    font-weight: bold;
  }
}

.user {
  text-transform: capitalize;
  img {
    border-radius: 50%;
    width: 40px;
    position: absolute;
    margin-left: -50px;
    margin-top: -8px;
  }
}
