.deck-custom {
  height: 122px;
  padding: 20px 0px 0px 79px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #d9dadb;
}

.deck-custom .card-deck-custom {
  position: absolute;
  margin-left: -55px;
  width: 100%;
  box-shadow: 0px 10px 1em #000000;
  max-width: 125px;
  cursor: pointer;
  transition: margin 500ms;
}

.deck-custom .card-deck-custom.active {
  margin-top: -20px;
}

.col-custom-13-full {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 7.6%;
  flex: 0 0 7.6%;
  max-width: 7.6%;
}
