.btn-group {
    width: 100%;
    label {
        font-weight: bold;
        font-family: monospace;
    }
    label:nth-child(3) {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: initial;
        width: 100%;
    }
}

.btn-command {
    padding-bottom: 16px;

    button {
        margin: 0 4px;
        &:disabled {
            cursor: not-allowed;
        }
        &.float-left,
        &.float-right {
            margin: 0 0px;
        }
    }
}

.opacity-0 {
    opacity: 0;
}
