<div class="row" *ngIf="getCurrentTask(room?.currentTask)">
    <div class="col-12">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-light" (click)="firstTask()">
                << </label>
                    <label class="btn btn-light" (click)="prevTask()">
                        < </label>
                            <label [title]="getCurrentTask(room?.currentTask)" class="btn btn-light" (click)="goTask()">
                                {{ getCurrentTask(room?.currentTask) }}
                            </label>
                            <label class="btn btn-light" (click)="nextTask()"> > </label>
                            <label class="btn btn-light" (click)="lastTask()"> >> </label>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12 btn-command text-center" *ngIf="hasVotes()">
        <button *ngIf="getCurrentTask(room?.currentTask)" type="button" class="btn btn-light float-left"
            (click)="resetVotesAndGoBack()">Voltar</button>
        <button type="button" class="btn btn-secondary" (click)="resetVotes()">Revotar</button>
        <button *ngIf="!isFlip" type="button" class="btn btn-primary" (click)="flipCard()">Virar</button>
        <button *ngIf="isFlip" type="button" class="btn btn-primary" (click)="resetVotesAndNext()">Seguir</button>
        <button *ngIf="getCurrentTask(room?.currentTask)" [ngClass]="{ 'opacity-0': isFlip }" type="button"
            class="btn btn-light float-right" (click)="resetVotesAndNext()">Seguir</button>
    </div>
</div>